.footer1 {
    background-color: black;

}
.c,
.f{

    padding: 2rem 0;
    border-bottom: 1px solid #fff;
}

.info {
    padding: 0rem 0 1rem 0;
}

.info-list{
    border-top: 2px solid var(--text-color);
    padding-top: 0.8rem;
}

.info-title {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
    color: var(--text-color)
    
}
.info-text{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 0;
    cursor: pointer;
}
.info-text:hover {
    color: var(--background-color);
}

.info-social-icon {
    font-size: 2.5rem;
    padding: 8px;
    color: var(--text-color);
    cursor: pointer;
   
}
.info-item{
    color: var(--text-color);
}

.info-social-icon:hover{
    color: var(--background-color);
}
.loca-icon-wrapper {
    margin-top: 3px;
    
}
.loca-icon{
    font-size: 1.8rem;
    padding: 8px 8px 8px 0px;
}
.class-location {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text-color);
}

.class-location:hover{
    color: var(--background-color);
}


.class-location>span {
    
    font-size: 1.3rem;
    padding-right: 6px;
   
}
/* footer 2 =============================== */
.footer2 {
    background-color:black
}
.footer-contact{
    padding-top: 2rem;
}
.footer-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.contact-info {
    font-size: 1.4rem;
    color: var(--text-color);
}
.contact-info>a{
    text-decoration: none;
    color: #efbd3de5;
    
}

