
.header__logo-img {
    height: 10rem;
}
.header__nav-bar>ul>li>a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

.header__nav-bar-noti {
    position: relative;
    margin: 0 2rem;
}
.header__nav-bar-noti:hover .header__nav-bar-noti-bar {
    display: block;
}
.header__nav-bar-noti-icon {
    color: var(--text-color);
    font-size: 2rem;
}
.header__nav-bar-noti-bar {
    position: absolute;
    right:-50%;
    top: 30px;
    width: 200px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}
.header__nav-bar-noti-bar::before {
    content: "";
    position: absolute;
    top: -19px;
    right: 10px;
    border: 10px solid;
    border-color: transparent transparent white transparent;
}

.header__nav-bar-search {
    position: relative;
}

.header__nav-bar-search:hover .search-input {
    display: block;
}

.header__nav-bar-search-icon {
    display: block;
    color: var(--text-color);
    font-size: 2rem;

}
.header__nav-bar-search::before {
    content: "";
    position: absolute;
    top: 16px;
    width: 20px;
    height: 15px;
}
.search-input {
    display: none;
    position: absolute;
    left: -57px;
    top: 27px;
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 4px 6px;
    background-color: #ccc;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
    transition: all 300ms ease;
}
.search-input:focus {
    display: block;
    transform: scale(1.03);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
/* nar-bar =====================================================*/
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80%;
}
.nav__list-item a {
   
    text-decoration: none;
    font-size: 2rem;
    color: var(--text-color);
}
.nav__list-item {
    position: relative;
    padding: 8px 16px;
    /* overflow: hidden; */
}
.nav__list-item>a{
    position: relative;
    overflow: hidden;
}
.nav__list-item>a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 4px;
    background-color: var(--text-color);
    transform: translate(0%,700%);
    transition: all 0.3s ease;
}
.nav__list-item:hover>a::before {
    width: 100%;
}


/* sup-nap */
.nav__sup-nap {
    position: absolute;
    display: none;
    min-width: 200px;
    left: 8px;
    top: 42px;
    z-index: 99;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;

}
.nav__sup-nap::before {
    content: "";
    position: absolute;
    top: -16px;
    width: 50%;
    height: 20px;
}
.nav__sup-nap>li>a{
    color: black;
    font-size: 1.8rem;
}

.nav__sup-nap-item {
    padding: 1rem 1.4rem;
    border-bottom: 1px solid #ccc;
}
.nav__sup-nap-item:hover{
    background-color: var(--seclect-color);
}
/* .nav__sup-nap-item:hover>a{
    color: var(--text-color);

} */
.nav__sup-nap-item:last-child{
    padding-bottom: 1rem;
    border-bottom: none
}
.nav__sup-nap-item:first-child{
    padding-top: 1rem;
}
.nav__list-item:hover .nav__sup-nap {
    display: block;
}

