@media(min-width: 1023px)
{
    .mobiile-more-icon{
        display: none;
    }
    .fake-div{
        display: none;
    }
    .side-bar-mobile {
        display: none;
    }
    
    .f{
        margin: 0 auto;
    }
}
@media (min-width: 740px) and (max-width:1023px)    
{
    .comp-icon{
        margin-right: 4px;
    }
    .width{
        width: 100%;
    }
    .row{
        width: 100%;
    }
    .info-wrapper :last-child{
        padding: 0 20px;
    }
    .header2-navbar__logo img{
        display: none;
    }
    .header2-navbar__logo{
        width: 120px;
        height: 60px;
    }
    .header2-navbar__search-box input{
        width: 40rem;
    }
    .header2-navbar__fa-house-icon{
        left: -120px;
    }
    .header2-navbar__search-btn{
        border-radius: 4px;
    }
    .header2-title h1{
        font-size: 4.6rem;
    }
    .header2-title {
        width: 126%;
    }
    .header2-logo img {
        width: 13rem;
    }
    .essay-block-item{
        width: 40%;
    }
    .essay-block {
        overflow: inherit;
        /* width: 180%; */
    }
    .essays-wrapper{
        overflow-x: scroll;
    }
    .essays-wrapper::-webkit-scrollbar{
        width: 1px;
        background-color: transparent;
    }
    .essays-wrapper::-webkit-scrollbar-thumb{
        border-radius: 1px;
        background-color: transparent;
    }
    .newest::after{
        left: 0;
        top: 0;
    }
    
    .footer-logo img{
        display: none;
    }
    .footer-logo {
        background: url(../img/favicon.ico);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 110px;
    }
    .mobiile-more-icon{
        display: none;
    }
    .fake-div{
        display: none;
    }
    .side-bar-mobile {
        display: none;
    }
}
@media (max-width: 739px)
{
    
    .header-background {
        padding-bottom: 4rem;
    }
    .header2-title h1{
        font-size: 3.5rem;
    }
    .header2-title h3{
        font-size: 1.8rem;
    }
    .header2-nav__list{
        display: none;
    }
    .header2-logo{
        display: none;
    }
    .row{
        width: 100%;
    }
    .footer-logo img{
        display: none;
    }
    .footer-logo {
        background: url(../img/favicon.ico);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 110px;
    }
    .header2-navbar{
        width: 100%;
        height: 64px;
        display: flex;
    }
    .header2-navbar__logo img{
        display: none;
    }
    .header2-navbar__search-box{
        width: 100%;
        
    }
    .header2-navbar__fa-house-icon{
        display: none;
    }
    .h{
        width: 100%;
    }
    .essay-block-item{
        width: 60%;
    }
    .essay-block{
        width: 25rem;
    }
    .essays-wrapper{
        overflow-x: scroll;
    }
    .f{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        width: 100%;
    }
    .footer-contact{
        padding: 8px;
    }
    .hh{
        display: none;
    }
    .header2-search-box{
        width: 90%;
    }
    .essay-content {
        width: 70%;
    }
    .newest::after {
        top: 0;
        left: 0;
    }
    


    .model-wrapper {
        margin: 15rem auto;
    }
    .model-title h1{
        font-size: 2rem;
    }
    .mn h2{
        font-size: 1.2rem;
    }
    .mn i{
        font-size: 1rem;
    }
    .model-student-code{
        text-align: right;
    }
    .model-student-code span{
        font-size: 1.2rem;
    }
    .model-desc p{
        font-size: 1.4rem;
    }
    .model-btn div{
        min-height: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0 1px;
        padding: 0 2px;
    }
    .model-btn div i,
    .model-btn div span {
        display: block;
        width: 100%;
    }
    .model-btn {
        width: 110%;
    }
    .model-btn div:last-child::before{
        display: none;
    }

    .header2-navbar__search-box {
        width: 60%;
    }
    .header2-navbar__search-box input{
        width: 100%;
    }
    .header2-navbar__search-box input{
        width: 40rem;
        flex: 1;
    }
    .comp-icon{
        display: none;
    }
    .width{
        width: 100%;
    }
    .mobiile-more-icon {
        color: var(--text-color);
        padding: 23px;
       width: 20%;
       font-size: 1.8rem;
      text-align: center;
    }
    .b{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fake-div{
        width: 20%;
        text-align: center;
    }
    .fake-div a{
        color: var(--text-color);
        font-size: 1.8rem;
    }
    .side-bar-mobile{
        position: fixed;
        top:63px;
        right: -20%;
        left: 100%;
        background-color: #001d3d;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: all 0.3s;
        
    }
    .side-bar-mobile li {
        padding: 1rem 0;
        text-align: center;
    } 
    .side-bar-mobile li a{
        color: var(--text-color);
        font-size: 1.8rem;
    }
}